

<div class="container center" >
        <h5 class="card-title text-center">Your reservations</h5>
    <table class="table">
      <tbody>
      <tr>
        <th scope="row"> <img src='http://www.hotel-starikrovovi.com/img/galerija/moskva16.jpg' alt='image' class="myImage"></th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>
            
            <a  href = "reserved" class="btn btn-primary mb-2 mr-2" role="button">Show</a> 
            <button class="btn active mb-2 mr-2"><i class="fa fa-envelope"></i></button>
            <button type="button" class="  btn-danger lg mb-2 mr-2">Cancellation</button>
         
        </td>
      </tr>
      <tr>
        <th scope="row"><img src='http://www.hotel-starikrovovi.com/img/galerija/moskva16.jpg' alt='image' class="myImage"></th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>
           
            <a  href = "reserved" class="btn btn-primary mb-2 mr-2" role="button">Show</a>
            <button class="btn  active mb-2 mr-2"><i class="fa fa-envelope"></i></button>
            <button type="button" class="  btn-danger lg mb-2 mr-2">Cancellation</button>
            
      </tr>
      <tr>
        <th scope="row"><img src='http://www.hotel-starikrovovi.com/img/galerija/moskva16.jpg' alt='image' class="myImage"></th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>
        
          <a  href = "reserved" class="btn btn-primary mb-2 mr-2" role="button">Show</a>
          <button class="btn  active mb-2 mr-2"><i class="fa fa-envelope"></i></button>
          <button type="button" class="  btn-danger lg mb-2 mr-2">Cancellation</button>
         
        </td>
      </tr>
      </tbody>
    </table>
  </div>