<div class="table-wrapper-scroll-y my-custom-scrollbar" class="myTable">

  <table class="table table-bordered mb-0 table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Text</th>
      <th sscope="col">Object</th>
      <th sscope="col">User</th>
    </tr>
    </thead>
    <tbody>
    <!--<tr *ngFor="let cert of cert ; let i = index " (click)="rowSelected(cert.serialNumber);">
      <td>{{i + 1}}</td>
      <td>{{cert.alias}}</td>
      <td>{{cert.country}}</td>
      <td>{{cert.locality}}</td>
      <td>{{cert.serialNumber}}</td>
    </tr>-->
    </tbody>
  </table>

</div>
