<div class="table-wrapper-scroll-y my-custom-scrollbar" class="myTable">

  <table class="table table-bordered mb-0 table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Text</th>
      <th sscope="col">Object</th>
      <th sscope="col">User</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let comm of comments ; let i = index ">
      <td>{{i + 1}}</td>
      <td>{{comm.text}}</td>
      <td>{{comm.object.name}}</td>
      <td>{{comm.registeredUser.email}}</td>
      <td>
        <button (click)="approve(comm.id)" class="btn btn-success"> Approve</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
