<div id="forma">
  <form>
    <div class="form-label-group" class="element">
      <label for="first">First Certificate</label>
      <input type="text" id="first" class="form-control" placeholder="First certificate" name="first"
             [(ngModel)]="first" required readonly>
    </div>

    <div class="form-label-group" class="element">
      <label for="first">Second Certificate</label>
      <input type="text" id="second" class="form-control" placeholder="Second certificate" name="second"
             [(ngModel)]="second" required readonly>
    </div>
  </form>


  <div class="btn-group" role="group" aria-label="Basic example" id="radio">
    <button type="button" class="btn btn-secondary" (click)="buttonR(1)">First</button>
    <button type="button" class="btn btn-secondary" (click)="buttonR(2)">Second</button>
  </div>

  <hr class="my-4" id="lajna">

  <div class="btn-group" role="group" aria-label="Basic example" id="btn">
    <button class="btn btn-success" type="submit" (click)="enableCommunication()">Enable</button>
  </div>
</div>

<hr class="my-4">
<hr class="my-4">

<div>
  <div id="firstDiv">
    <div class="form-label-group" class="search">
      <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchTextF">
      <button class="btn btn-primary" (click)="searchF(searchTextF)" id="btnSF"> Search</button>
    </div>
    <div class="table-wrapper-scroll-y my-custom-scrollbar" id="certs">
      <table class="table table-bordered mb-0 table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cert of certComm; let i = index">
          <td>{{i + 1}}</td>
          <td>{{cert.alias}}</td>
          <td>
            <button (click)="disableCommunication(cert.serialNumber)" class="btn btn-danger"> Disable</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="secondDiv">
    <div class="form-label-group" class="search">
      <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchTextS">
      <button class="btn btn-primary" id="btnSearch" (click)="searchS(searchTextS)"> Search</button>
    </div>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered mb-0 table-hover ">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">SerialNumber</th>
          <th scope="col">Organization</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cert of cert; let i = index" (click)="rowSelected(cert.serialNumber);">
          <td>{{i + 1}}</td>
          <td>{{cert.alias}}</td>
          <td>{{cert.serialNumber}}</td>
          <td>{{cert.organization}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
