

  <div class="btn-group" role="group" aria-label="Basic example" id="radio">
    <button type="button" class="btn btn-secondary" (click)="buttonR(1)">Year</button>
    <button type="button" class="btn btn-secondary" (click)="buttonR(2)">Custom</button>
  </div>

  <div *ngIf="fS=='1'">
    <form [formGroup]="newPlanForm" (ngSubmit)="onSubmitYear()">
   <!--   <div class="form-label-group" >
        <label for="from">From date</label>
        <input type="text" value="{{dateN}}" class="form-control" [formControlName]="'from'"
               required readonly>

      </div>
      <div class="form-label-group">
        <label for="to">To date</label>
        <input type="text"  value="{{dateOY}}" class="form-control" [formControlName]="'to'"
               required readonly>
      </div>-->
      <div class="form-label-group">
        <label for="from">From date</label>
        <div class="input-group">
          <input  class="form-control" readonly
                 [formControlName]="'from'" name="d1" ngbDatepicker #d1="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button" disabled><i
              class="fas fa-calendar"></i></button>
          </div>
        </div>
      </div>
        <div class="form-label-group">
          <label for="to">From date</label>
          <div class="input-group">
            <input  class="form-control" readonly
                    [formControlName]="'to'" name="d0" ngbDatepicker #d0="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d0.toggle()" type="button" disabled><i
                class="fas fa-calendar"></i></button>
            </div>
          </div>
        </div>
      <div class="form-label-group" >
        <label for="price">Price</label>
        <input type="number" id="price"  class="form-control" [formControlName]="'price'"
               required >
      </div>
      <div class="form-label-group" >
        <label for="perPerson">Price per person: </label>
        <input type="checkbox" id="perPerson"  class="form-control" [formControlName]="'perPerson'">
      </div>
      <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">
        Create
      </button>
    </form>
  </div>

  <div *ngIf="fS=='2'">
    <table class="table table-bordered mb-0 table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Price</th>
        <th scope="col">Per person</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let plan of plans; let i = index">
        <td>{{i}}</td>
        <td>{{plan.from.getFullYear()}}-{{plan.from.getMonth()}}-{{plan.from.getDate()}}</td>
        <td>{{plan.to.getFullYear()}}-{{plan.to.getMonth()}}-{{plan.to.getDate()}}</td>
        <td>{{plan.price}}</td>
        <td *ngIf="plan.perPerson==true">Per person</td>
        <td *ngIf="plan.perPerson==false">Unit</td>
        <td><button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="editPrice(i)">Edit</button></td>
      </tr>
      </tbody>
    </table>
   <form [formGroup]="newPlanForm" (ngSubmit)="onSubmitCustom()">
     <!--    <div class="form-label-group" >
          <label for="from">From date</label>
          <input type="date" id="fr" class="form-control"  placeholder="Required"  [formControlName]="'from'"
                 required  readonly>

        </div>
        <div class="form-label-group">
          <label for="to">To date</label>
          <input type="date" id="toF" class="form-control" [formControlName]="'to'"
                 required [readOnly]="readonlyP" >
        </div>-->

      <div class="form-label-group">
        <label for="from">From date</label>
        <div class="input-group">
          <input id="from" class="form-control" readonly
                  [formControlName]="'from'" name="d2" ngbDatepicker #d2="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button" disabled><i
              class="fas fa-calendar"></i></button>
          </div>
        </div>

      </div>

      <div class="form-label-group">
        <label for="to">To date</label>
        <div class="input-group">
          <input id="to" class="form-control" [readonly]="true" [minDate]="toDate"
                 name="d3" ngbDatepicker #d3="ngbDatepicker"
                 [formControlName]="'to'">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d3.toggle()" type="button"><i
              class="fas fa-calendar"></i></button>
          </div>
        </div>
      </div>


      <div class="form-label-group" >
        <label for="price">Price</label>
        <input type="number" class="form-control" [formControlName]="'price'"
               required >
      </div>
      <div class="form-label-group" >
        <label for="perPerson">Price per person: </label>
        <input type="checkbox"  class="form-control" [formControlName]="'perPerson'">
      </div>

      <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">
        Create
      </button>
    </form>
    <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="addFnc()" *ngIf="readonlyP==false">
      Add
    </button>
    <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="editFnc()" *ngIf="readonlyP" >
      Save changes
    </button>
  </div>

