<app-navigation></app-navigation>

<div class="table-wrapper-scroll-y my-custom-scrollbar" id ="revoke_table">

  <table class="table table-bordered mb-0 table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cert of certificates| async; let i = index"  >
      <td>{{i}}</td>
      <td>{{cert.alias}}</td>
      <td><button (click)="revoke(cert.alias)" class="btn btn-danger"> Revoke </button></td>
    </tr>
    </tbody>
  </table>

</div>
