<app-navigation></app-navigation>

<div class="form-label-group" id="search">
  <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText" >
  <button class="btn btn-primary" id="btnSearch" (click)="search(searchText)"> Search</button>
</div>

<div class="table-wrapper-scroll-y my-custom-scrollbar" id ="certs">

  <table class="table table-bordered mb-0 table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">SerialNumber</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cert of certificates; let i = index"   >
      <td >{{i}}</td>
      <td >{{cert.alias}}</td>
      <td >{{cert.serialNumber}}</td>
      <td ><button (click)="revoke(cert.serialNumber)" class="btn btn-danger"> Revoke </button></td>
    </tr>
    </tbody>
  </table>

</div>
