<form [formGroup]="newUnitForm" (ngSubmit)="onSubmit()">

  <div class="form-label-group">
    <label for="object">Object</label>
    <select  id="object" class="form-control" [formControlName]="'object'" required>
      <option *ngFor="let o of objectList" value="{{o.id}}">{{o.name}} ", " {{o.adress.city}} ", " {{o.adress.state}}</option>
    </select>
   <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="createObject()">
      Create new object
    </button>
  </div>
  <div class="form-label-group">
    <label for="person">Person</label>
    <input type="number" id="person" class="form-control" [formControlName]="'person'"
           required>
  </div>

  <div class="form-label-group">
    <label for="cancellation">Cancellation</label>
    <input type="number" id="cancellation" class="form-control" [formControlName]="'cancellation'"
           required placeholder="In days">
  </div>
  <div class="form-label-group">
    <label for="beds">Beds</label>
    <input type="number" id="beds" class="form-control" [formControlName]="'beds'"
           required>
  </div>
  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" [disabled]="!newUnitForm.valid">
    Create price schedule for unit
  </button>
</form>
<input
  style="display: none"
  type="file" (change)="onSelectedImage($event)"
  accept=".jpg,.png" #fileInput>
<button (click)="fileInput.click()">Select File</button>

