<div class="container">
  <div class="row">

  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Alias</th>
      <th scope="col">Serial Number</th>
      <th scope="col">Start date</th>
      <th scope="col">End date</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cert of certi; let i = index" >
      <td>{{i+1}}</td>
      <td>{{cert.alias}}</td>
      <td>{{cert.serialNumber}}</td>
      <td>{{cert.startDate}}</td>
      <td>{{cert.endDate}}</td>

      <td (click)="check(cert.serialNumber);"><button class="btn btn-success">Check</button></td>

    </tr>
    </tbody>
  </table>

    <div class="form-label-group" >
      <input type="text" class="form-control" disabled="true" [(ngModel)]="info" >
    </div>

  </div>
</div>
