<div class="container">

  <div class="row">

    <div class="col-sm-5">

      <div class="card">

        <div class="card-header">
          <div class="d-flex">
            <div>
              Users
            </div>
          </div>
        </div>

        <div class="table-wrapper-scroll-y my-custom-scrollbar" >
          <table class="table mb-0 table-hover">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Username</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users; let i = index" >
              <td>{{i+1}}</td>
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.username}}</td>
              <td ><button class="btn" type="button" (click)="userSelected(user);"><i class="fas fa-eye"></i></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>


      </div>


    </div>

    <div class="col">

      <div class="card">

        <div class="card-header">
          <div class="d-flex">
            <div>
              Groups
            </div>
            <div class="ml-auto">
              <a *ngIf="enableSelected" class="link" (click)="addGroup()" ><i class="fas fa-plus-circle"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="table-wrapper-scroll-y my-custom-scrollbar" >
          <table class="table mb-0 table-hover">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let group of groupsAdded; let i = index" >
              <td>{{i+1}}</td>
              <td>{{group.name}}</td>
              <td ><button class="btn" type="button" (click)="deleteGroup(group.id);"><i class="fas fa-trash"></i></button>
            </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>


    <div class="col">

      <div class="card">

        <div class="card-header">
          <div class="d-flex">
            <div>
              Roles
            </div>
            <div class="ml-auto">
              <a *ngIf="enableSelected" class="link" (click)="addRole()" ><i class="fas fa-plus-circle"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="table-wrapper-scroll-y my-custom-scrollbar" >
          <table class="table mb-0 table-hover">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let role of rolesAdded; let i = index" >
              <td>{{i+1}}</td>
              <td>{{role.name}}</td>
              <td ><button class="btn" type="button" (click)="deleteRole(role.id);"><i class="fas fa-trash"></i></button>
            </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>

  </div>

  <ng-template #content let-c="close" let-d="dismiss">

    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>

    </div>

    <div class="modal-body">

      <form *ngIf="addRoleModal" [formGroup]="roleForm"  (ngSubmit)="onSubmitRole()">
        <div class="form-label-group">
          <select multiple class="form-control" id="roleSelect" [formControlName]="'roleSelect'">
            <option *ngFor="let role of roles"
                    [value]="role.id"> {{role.name}} </option>
          </select>
        </div>

        <hr>
        <button class="btn-sm btn-primary text-uppercase" type="submit">Save</button>
      </form>

      <form *ngIf="addGroupModal" [formGroup]="groupForm"  (ngSubmit)="onSubmitGroup()">
        <div class="form-label-group">
          <select multiple class="form-control" id="groupSelect" [formControlName]="'groupSelect'">
            <option *ngFor="let group of groups"
                    [value]="group.id"> {{group.name}} </option>
          </select>
        </div>

        <hr>
        <button class="btn-sm btn-primary text-uppercase" type="submit">Add</button>
      </form>



    </div>

  </ng-template>



</div>
