<h3>{{messages[0].registeredUser.firstName}} {{messages[0].registeredUser.lastName}}</h3>

<div *ngFor="let mes of messages; let i=index" style="width: 600px; alignment: center">
  <div *ngIf="mes.fromUser==mes.registeredUser.id" style="float: left; width: 600px ">
    <span style="background-color: #ffdc75; font-size: 20px;  border-radius:20%" >{{mes.text}}</span>
    <span style="color: #525D76; font-size: 10px; ">{{getDate(i)}}</span>
    <br/>
  </div>
  <div *ngIf="mes.fromUser==mes.agent.id" style="float: right; width: 600px">
    <span  style="background-color: orchid; font-size: 20px; float: right; border-radius:20%"  >{{mes.text}}</span>
    <span style="color: #525D76; font-size: 10px; float: right;">{{getDate(i)}}</span>
    <br/>
  </div>
</div>

<div style="width: 700px; float: left" >
  <br/>
  <input type="text" id="textMessage" placeholder="Type Your message..." [(ngModel)]="message.text" style="width: 600px;  border-radius:20%; height: 100px" />
  <button (click)="sendMessage()" STYLE=" border-radius:15%">Replay</button>
</div>
