<div class="container">

  <div class="row">
    <div class="col">
      <div id="navigation">
        <nav class="nav navPar">

          <a class="nav-link active hrefColor" [routerLink]="['users']" active>Users</a>
          <a class="nav-link active hrefColor" [routerLink]="['users_perm']" active>Users and permissions</a>
          <a class="nav-link active hrefColor" [routerLink]="['roles']">Roles and permissions</a>
          <a class="nav-link active hrefColor" [routerLink]="['groups']">Groups and Roles</a>

        </nav>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">

      <router-outlet></router-outlet>

    </div>
  </div>


</div>
