<table class="table table-bordered mb-0 table-hover" >
  <thead align="center" >
  <tr>
    <th scope="col">#</th>
    <th scope="col">Persons</th>
    <th scope="col">Beds</th>
    <th scope="col">Size</th>
    <th scope="col">Price</th>
    <th scope="col">Price for </th>
  </tr>
  </thead >
  <tbody align="center" >
  <tr *ngFor="let unit of units; let i = index " >
    <td ><img *ngIf="unit.image[0]!=undefined" src="data:image/png;base64,{{unit.image[0].source}}" alt="{{i}}" style="width: 200px; height: 200px"/></td>
    <td style="vertical-align: middle">{{unit.person}}</td>
    <td style="vertical-align: middle">{{unit.beds}}</td>
    <td style="vertical-align: middle">{{unit.size}}</td>
    <td style="vertical-align: middle">{{getPrice(unit.priceSchedule) }}</td>
    <td style="vertical-align: middle">{{getPerPerson()}}</td>
    <td style="vertical-align: middle"><button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="makeRes(i)">Make a reservation</button></td>
  </tr>
  </tbody>
</table>

