.left-side{
  position: absolute;
  left:0%;
  width: 30%;
}

.center{
  position: absolute;
  left:30%;
  width: 50%;
}

#search{
  background-color: #9ec3ff;
}

.myImage{
  width: 150px;
  height: 120px;
}
