<div class="container">

  <div class="row">
    <div class="col">
      <div id="navigation">
        <nav class="nav navPar">
          <a class="nav-link" href="" [routerLink]="['inbox']" >Inbox</a>
          <a class="nav-link" href="" [routerLink]="['reservations']" >Show reservations</a>
          <a class="nav-link" href="" [routerLink]="['showObjects']" >Show objects</a>
          <a class="nav-link" href="" [routerLink]="['newUnit']" >Add unit</a>
        </nav>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">

      <router-outlet></router-outlet>

    </div>
  </div>


</div>
