<form [formGroup]="newAddressForm" (ngSubmit)="onSubmit()">
  <div class="form-label-group">
    <label for="state">State</label>
    <input type="text" id="state" ngModel maxlength="30" class="form-control" [formControlName]="'state'"
           required>
    <div class="alert alert-danger"
         *ngIf="newAddressForm.get('state').errors?.required && newAddressForm.get('state').touched">State is
      required!
    </div>
    <div class="alert alert-danger"
         *ngIf="newAddressForm.get('state').errors?.pattern && newAddressForm.get('state').touched">Only letters!
    </div>
  </div>
  <div class="form-label-group">
    <label for="city">City</label>
    <input type="text" id="city" ngModel maxlength="30" class="form-control" [formControlName]="'city'"
           required>

    <div class="alert alert-danger"
         *ngIf="newAddressForm.get('city').errors?.required && newAddressForm.get('city').touched">City is
      required!
    </div>
    <div class="alert alert-danger"
         *ngIf="newAddressForm.get('city').errors?.pattern && newAddressForm.get('city').touched">Only letters!
    </div>
  </div>
  <div class="form-label-group">
    <label for="street">Street</label>
    <input type="text" id="street" ngModel maxlength="30" class="form-control" [formControlName]="'street'"
           required>

    <div class="alert alert-danger"
         *ngIf="newAddressForm.get('street').errors?.required && newAddressForm.get('street').touched">Street is
      required!
    </div>
    <div class="alert alert-danger"
         *ngIf="newAddressForm.get('street').errors?.pattern && newAddressForm.get('street').touched">Only letters, numbers and , . - /
    </div>
  </div>
  <div class="form-label-group">
    <label for="number">Number</label>
    <input type="number" id="number" ngModel maxlength="4" class="form-control"  min="1"  [formControlName]="'number'"
           required>
    <div class="alert alert-danger"
         *ngIf="newAddressForm.get('number').errors?.required && newAddressForm.get('number').touched">Number is
      required!
    </div>
    <div class="alert alert-danger"
         *ngIf="newAddressForm.get('number').errors?.pattern && newAddressForm.get('number').touched">Only numbers!
    </div>
  </div>
  <div class="form-label-group">
    <label for="zip">Zip</label>
    <input type="number" id="zip" ngModel maxlength="10" class="form-control"  min="1"  [formControlName]="'zip'"
           required>
    <div class="alert alert-danger"
         *ngIf="newAddressForm.get('zip').errors?.required && newAddressForm.get('zip').touched">Number is
      required!
    </div>
    <div class="alert alert-danger"
         *ngIf="newAddressForm.get('zip').errors?.pattern && newAddressForm.get('zip').touched">Only numbers!
    </div>
  </div>
  <div class="form-label-group">
    <label for="longitude">Longitude</label>
    <input type="number" id="longitude" class="form-control"  min="1"  [formControlName]="'longitude'"
           required>
  </div>
  <div class="form-label-group">
    <label for="latitude">Latitude</label>
    <input type="number" id="latitude" class="form-control"  min="1"  [formControlName]="'latitude'"
           required>
  </div>
</form>
<form [formGroup]="newObjectForm" (ngSubmit)="onSubmit()">

  <div class="form-label-group">
    <label for="name">Name</label>
    <input type="text" id="name" class="form-control" [formControlName]="'name'"
           required>
  </div>
  <div class="form-label-group">
    <label for="description">Description</label>
    <input type="text" id="description" class="form-control" [formControlName]="'description'"
           required>
  </div>
  <div class="form-label-group">
    <label for="category">Category</label>
    <input type="number" id="category" class="form-control" [formControlName]="'category'"
           required >
  </div>
  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" [disabled]="!newObjectForm.valid">
    Create
  </button>
</form>
