<form class="centeredForms" [formGroup]="objectTypesForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text"  ngModel maxlength="30"  class="form-control" id="name" placeholder="Enter name" [formControlName]="'name'">
    <div class="alert alert-danger" *ngIf="objectTypesForm.get('name').errors?.required && objectTypesForm.get('name').touched">Name is required</div>
    <div class="alert alert-danger" *ngIf="objectTypesForm.get('name').errors?.pattern && objectTypesForm.get('name').touched">Only letters</div>
    <div class="alert alert-danger" *ngIf="objectTypesForm.get('name').errors?.maxLength && objectTypesForm.get('name').touched">Max length is 30</div>

  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control rounded-1" id="description" rows="10" placeholder="Enter description" [formControlName]="'description'"></textarea>

  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>


<div class="table-wrapper-scroll-y my-custom-scrollbar" class="myTable">

  <table class="table table-bordered mb-0 table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let objType of objectTypes ; let i = index ">
      <td>{{i + 1}}</td>
      <td>{{objType.name}}</td>
      <td>{{objType.description}}</td>
      <td>
        <button (click)="remove(objType.id)" class="btn btn-danger"> Remove</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
