<div class="table-wrapper-scroll-y my-custom-scrollbar">
  <table class="table table-bordered mb-0 table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
      </tr>
    </thead>

    <tbody>
    <!--<tr *ngFor="let cert of cert ; let i = index " (click)="rowSelected(cert.serialNumber);">
      <td>{{i + 1}}</td>
      <td>{{cert.alias}}</td>
      <td>{{cert.country}}</td>
      <td>{{cert.locality}}</td>
      <td>{{cert.serialNumber}}</td>
    </tr>-->
    </tbody>
  </table>

</div>
