/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.myTable {
  padding: 30px;
}

.centeredForms{
  display: inline-block;
  position: relative;
  width: 30%;
  left: 33%;
}



