<app-navigation></app-navigation>

<div class="form-label-group" id="search">
  <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText" >
</div>

<div class="table-wrapper-scroll-y my-custom-scrollbar" id ="certs">

  <table class="table table-bordered mb-0 table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cert of cert ; let i = index "  (click)="rowSelected(cert.alias);" >
      <td>{{i+1}}</td>
      <td>{{cert.alias}}</td>
    </tr>
    </tbody>
  </table>

</div>


<div class="container" xmlns="">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Create Certificate</h5>

          <div class="form-group"  >
            <label for="typeCert">Type</label>
            <select class="form-control" id="typeCert"  (change)="mySelectHandler($event)" [(ngModel)]="selectType">
              <option selected value="Intermediate">Intermediate</option>
              <option value="Leaf">Leaf</option>
            </select>
          </div>

          <form [formGroup]="certForm" (ngSubmit)="onSubmit()">

            <div *ngIf="!roott" class="form-label-group">
              <label for="parent">Parent</label>
              <input type="text" id="parent" class="form-control" [formControlName]="'parent'" [(ngModel)]="inputVar" required readonly>
            </div>

            <div *ngIf="!roott" class="form-label-group">
              <label for="passwordParent">Password</label>
              <input type="password" id="passwordParent" class="form-control" [formControlName]="'password'" placeholder="Password Parent" required >
            </div>

            <div class="form-label-group">
              <label for="country">Country</label>
              <input type="text" id="country" class="form-control" [formControlName]="'country'" required autofocus>
            </div>

            <div class="form-label-group">
              <label for="state">State/Province</label>
              <input type="text" id="state" class="form-control" [formControlName]="'state'" required >
            </div>

            <div class="form-label-group">
              <label for="locality">Locality</label>
              <input type="text" id="locality" [formControlName]="'loc'" class="form-control" required >
            </div>

            <div class="form-label-group">
              <label for="organization">Organization</label>
              <input type="text" id="organization" class="form-control" [formControlName]="'org'" required >
            </div>

            <div class="form-label-group">
              <label for="organizationalUnit">Organizational Unit</label>
              <input type="text" id="organizationalUnit" class="form-control" [formControlName]="'orgUnit'" required >
            </div>

            <div class="form-label-group">
              <label for="commonName">Common Name</label>
              <input type="text" id="commonName" class="form-control" [formControlName]="'commName'" required >
            </div>

            <div class="form-label-group">
              <label for="startDate">Not Valid Before</label>
              <input type="date" id="startDate" class="form-control"  [formControlName]="'startDate'" required >
            </div>

            <div class="form-label-group">
              <label for="endDate">Not Valid After</label>
              <input type="date" id="endDate" class="form-control" [formControlName]="'endDate'" required >
            </div>

            <div class="form-label-group">
              <label for="alias">Alias</label>
              <input type="text" id="alias" class="form-control" [formControlName]="'alias'" required >
            </div>

            <hr class="my-4">
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

