<app-navigation></app-navigation>

<div class="table-wrapper-scroll-y my-custom-scrollbar" id ="certs">

  <table class="table table-bordered mb-0 table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Enabled</th>
      <th scope="col">Last Password Reset Date</th>
      <th scope="col">Is Verified</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users; let i = index" >
      <td>{{i+1}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.enabled}}</td>
      <td>{{user.lastPasswordResetDate}}</td>
      <td>{{user.verified}}</td>
      <td *ngIf="!user.enabled" (click)="enable(user.id);"><button class="btn btn-success">Enable</button></td>
      <td *ngIf="user.enabled" (click)="disable(user.id);"><button class="btn btn-danger">Disable</button></td>
    </tr>
    </tbody>
  </table>

</div>
