<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [href]="['object_types']" >Object Types</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link">Accommodation Types</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link"  href="">Extra Options</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link"  href="">Comments</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="">Users</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="">Agents</a>
      </li>
    </ul>
  </div>
</nav>
