<form class="centeredForms" [formGroup]="agentForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="fName">First Name</label>
    <input type="text" class="form-control" id="fName" placeholder="Enter first name" [formControlName]="'firstName'">
  </div>
  <div class="form-group">
    <label for="lName">Last Name</label>
    <input type="text" class="form-control" id="lName" placeholder="Enter last name" [formControlName]="'lastName'">
  </div>
  <div class="form-group">
    <label for="bussinesRegistrationNumber">Business Registration Number</label>
    <input type="text" class="form-control" id="bussinesRegistrationNumber" placeholder="Enter business registration number" [formControlName]="'bussinesRegistrationNumber'">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Enter Email" [formControlName]="'email'">
  </div>
  <div class="form-group">
    <label for="email">Username</label>
    <input type="email" class="form-control" id="username" placeholder="Enter username" [formControlName]="'username'">
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
<div class="table-wrapper-scroll-y my-custom-scrollbar" class="myTable">

  <table class="table table-bordered mb-0 table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Business Registration Number</th>
      <th scope="col">Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let agent of agents ; let i = index ">
      <td>{{i + 1}}</td>
      <td>{{agent.firstName}}</td>
      <td>{{agent.lastName}}</td>
      <td>{{agent.bussinesRegistrationNumber}}</td>
      <td>{{agent.email}}</td>
    </tr>
    </tbody>
  </table>

</div>
