.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

#certs {
  margin: 2%;
}

#certs:hover {
  cursor: pointer;
}

#search {
  position: relative;
  left: 33%;
  width: 30%;
  margin: 2%;

}

#btnSearch {
  margin-top: 2%;
}
